[Unit]
Description=Redis-4.0.10
# Documentation=man:mysqld(8)
# Documentation=http://dev.mysql.com/doc/refman/en/using-systemd.html
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target

[Service]
User=redis
Group=redis
Type=forking
Restart=always
ExecStart=/usr/local/redis/bin/redis-server /usr/local/redis/redis.conf
ExecStop=/usr/local/redis/bin/redis-cli -h 127.0.0.1 -p 6379 -a redis123 shutdown
LimitNOFILE=65535
